<header class="main-header">

    <div class="container">

        <!-- Logo Section -->
        <div class="logo">
            <img src="assets/images/movekart-logo.png" alt="MoveKart" />
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
            ☰
        </div>
        <!-- Navigation -->
        <nav class="nav-links" [class.open]="isMenuOpen"> <a routerLink="/app/dashboard"
                routerLinkActive="active">Home</a>
            <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
            <a routerLink="/track" routerLinkActive="active">Track Order</a>
            <a routerLink="/about" routerLinkActive="active">About Us</a>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </nav>

        <!-- Right Section -->
        <div class="nav-right">

            <!--  LOGGED IN -->
            <ng-container *ngIf="isLoggedIn; else guestUser">


                <button *ngIf="isAdmin" class="admin-btn" (click)="openAdminPanel()">
                    Admin Panel
                </button>

                <!-- Profile -->
                <div class="profile-menu">

                    <div class="avatar" (click)="goToProfile()">
                        {{ userInitial }}
                    </div>

                    <div class="dropdown">

                        <div class="dropdown-item user-name">
                            {{ userName }}
                        </div>

                        <div class="dropdown-divider"></div>

                        <div class="dropdown-item" (click)="goToProfile()">
                            My Profile
                        </div>

                        <div class="dropdown-item logout" (click)="logout()">
                            Logout
                        </div>

                    </div>

                </div>









                <!-- Logout Button -->
                <button class="logout-btn" (click)="logout()">
                    Logout
                </button>

            </ng-container>

            <ng-template #guestUser>
                <button class="login-btn" (click)="goToLogin()" [disabled]="currentUrl === '/auth/login'">
                    Login
                </button>
            </ng-template>

        </div>

    </div>

</header>