<h2 class="title">Dashboard</h2>

<div class="dashboard-container">

    <div class="cards">

        <mat-card class="card">
            <div class="card-title">Total Orders</div>
            <div class="card-value">0</div>
        </mat-card>

        <mat-card class="card">
            <div class="card-title">Active Orders</div>
            <div class="card-value">0</div>
        </mat-card>

        <mat-card class="card">
            <div class="card-title">Wallet Balance</div>
            <div class="card-value">₹0</div>
        </mat-card>

    </div>

</div>