<form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-form">

    <!-- Name -->
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" />

        <small *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
            Name is required (min 2 characters)
        </small>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" />

        <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            Valid email required
        </small>
    </div>


    <!-- Role -->
    <div class="form-group">
        <label>Account Type</label>

        <select formControlName="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
    </div>

    <div class="form-group" *ngIf="form.get('role')?.value === 'admin'">
        <label>Admin Access Role</label>

        <select formControlName="adminRoleId">
            <option [ngValue]="null">Super Admin</option>

            <option *ngFor="let role of roles" [ngValue]="role._id">
                {{ role.name }}
            </option>
        </select>
    </div>


    <!-- Status -->
    <div class="form-group checkbox">
        <label class="checkbox-label">
            <input type="checkbox" formControlName="isActive" />
            <span>Active User</span>
        </label>
    </div>

    <!-- Actions -->
    <div class="form-actions">
        <button type="submit" class="primary-btn" [disabled]="submitting">
            {{ submitting ? 'Saving...' : 'Save' }}
        </button>
    </div>

</form>