<footer class="footer">

    <div class="footer-container">

        <div class="footer-col brand">
            <div class="logo">MoveKart</div>

            <p class="brand-text">
                Fast & affordable logistics company in India for truck booking,
                mini truck booking, goods transport and pickup delivery solutions.
            </p>

            <ul class="city-list">
                <li *ngFor="let city of footer.cities">
                    <span>{{ city }}</span>
                </li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Company</h4>

            <ul>
                <li *ngFor="let item of footer.company">
                    <a [routerLink]="item.route">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Services</h4>

            <ul>
                <li *ngFor="let item of footer.business">
                    <a [routerLink]="item.route">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-col apps">

            <div class="app-card">Available on App Store</div>

            <div class="app-card">Get it on Google Play</div>

            <div class="app-card">Business Dashboard</div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="socials">

            <a href="#" class="icon" aria-label="Facebook">
                <svg viewBox="0 0 24 24">
                    <path d="M14 9h3V6h-3c-2.2 0-4 1.8-4 4v2H7v3h3v7h3v-7h3l1-3h-4v-2c0-.6.4-1 1-1z" />
                </svg>
            </a>

            <a href="#" class="icon" aria-label="Instagram">
                <svg viewBox="0 0 24 24">
                    <path
                        d="M7 2C4.8 2 3 3.8 3 6v12c0 2.2 1.8 4 4 4h10c2.2 0 4-1.8 4-4V6c0-2.2-1.8-4-4-4H7zm5 5a5 5 0 110 10 5 5 0 010-10z" />
                </svg>
            </a>

            <a href="#" class="icon" aria-label="YouTube">
                <svg viewBox="0 0 24 24">
                    <path d="M10 14.5v-5l5 2.5-5 2.5z" />
                </svg>
            </a>

        </div>

        <div class="copyright">
            © {{ currentYear }} MoveKart Logistics & Truck Booking Service. All rights reserved.
        </div>

    </div>

</footer>