<div class="login-page">

    <header class="top-header">
        <div class="logo">MoveKart logistics</div>
        <nav>
            <a>Home</a>
            <a>Pricing</a>
            <a>Track Order</a>
            <a>About Us</a>
            <a>Contact</a>
        </nav>
    </header>

    <section class="hero">

        <div class="layout-container">

            <div class="hero-left layout-left">

                <h1 class="page-title">Register</h1>

                <div class="login-card">

                    <form [formGroup]="registerForm" (ngSubmit)="submit()">

                        <div class="input-group">
                            <input type="text" placeholder="Full Name" formControlName="name" />
                        </div>

                        <div class="input-group">
                            <input type="email" placeholder="Email" formControlName="email" />
                        </div>

                        <div class="input-group">
                            <input type="text" placeholder="Phone" formControlName="phone" />
                        </div>

                        <div class="input-group">
                            <input type="password" placeholder="Password (At least 6 characters)"
                                formControlName="password" />
                        </div>

                        <div class="input-group">
                            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                        </div>

                        <div *ngIf="errorMessage" class="error-message">
                            {{ errorMessage }}
                        </div>

                        <button type="submit" [disabled]="loading">
                            {{ loading ? 'Registering...' : 'Register' }}
                        </button>

                        <p class="switch">
                            Already have an account?
                            <a routerLink="/auth/login">Login</a>
                        </p>

                    </form>

                </div>

            </div>

            <div class="hero-image layout-right">
                <img src="assets/images/rider.png" />
            </div>

        </div>

    </section>

    <footer class="footer">
        <div>© 2026 MoveKart logistics. All rights reserved.</div>
    </footer>

</div>