<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Forgot Password</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="input-group">
                <input type="email" placeholder="Enter your registered email" formControlName="email" />
            </div>

            <button type="submit" [disabled]="loading">
                {{ loading ? 'Sending...' : 'Send Reset Link' }}
            </button>

            <p class="switch">
                Remember your password?
                <a routerLink="/auth/login">Login</a>
            </p>

            <div class="success" *ngIf="message">
                {{ message }}
            </div>

            <div class="error-message" *ngIf="error">
                {{ error }}
            </div>

        </form>

    </div>

</div>