<div class="table-controls">
    <div class="search-box">
        <input type="text" [value]="search" (input)="onSearch($event)" placeholder="Search..." />
    </div>

    <app-pagination
        class="table-pagination"
        [total]="total"
        [totalPagesOverride]="totalPages"
        [page]="page"
        [limit]="limit"
        [limitOptions]="limitOptions"
        [showSummary]="total > 0"
        [showPageSize]="showPageSize"
        (pageChange)="pageChange.emit($event)"
        (limitChange)="onLimitChange($event)"
    >
    </app-pagination>
</div>
